* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.app {
  width: 400px;
  height: 420px;
  display: flex;
  flex-direction: column;
}

.top-bar {
  width: 100%;
}

.flex1 {
  flex: 1;
}

.highlight-bg {
  background: #4a7ce0;
}

/**
Common classes
 */

.input {
  width: 90%;
}

.row {
  display: flex;
}

.col {
  display: flex;
  flex-direction: column;
}

.a-center {
  align-items: center;
}

.mb-4 {
  margin-bottom: 1.6rem;
}
